section {
  background-color: var(--bg-dark-2);
}

h1 {
  color: var(--secondary-color);
}

img {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.aboutLink {
  position: absolute;
  left: 47.475%;
  transform: rotate(-90deg);
  bottom: 13%;
  font-size: 13px;
  color: var(--secondary-color);
  cursor: pointer;
  z-index: 1;
}

.border {
  position: absolute;
  width: 2px;
  height: 40px;
  bottom: 10px;
  left: 49.7%;
  background-color: var(--primary-color);
}

.icons {
  padding-left: 2rem;
}

.icon {
  color: var(--secondary-color);
  margin-right: 2.5rem;
  transition: 0.3s;
}

.icon:hover {
  color: var(--primary-color);
}

.rounded {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.rounded2 {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.4;
}

.rounded3 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}

.rounded4 {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.4;
}

.triangle {
  position: absolute;
  bottom: -96px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

.triangle2 {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
}

.triangle3 {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
}
