section {
  background-color: var(--bg-dark-2);
}

h1 {
  color: var(--secondary-color);
}

.container {
  position: relative;
  min-height: 629px;
}

.header {
  margin-top: 17rem;
}

.icons {
  margin-top: 8rem;
}

.aboutLink {
  position: absolute;
  left: 50%;
  top: 78%;
  transform: rotate(-90deg) translate(-50%, -155%);
  font-size: 13px;
  color: var(--secondary-color);
  cursor: pointer;
  z-index: 1;
}

.border {
  position: absolute;
  width: 2px;
  height: 40px;
  bottom: 10px;
  left: 50%;
  background-color: var(--primary-color);
}

.icon {
  color: var(--secondary-color);
  transition: 0.3s;
}

.icon:hover {
  color: var(--primary-color);
}

.ellipse {
  @apply absolute 
  top-0 
  left-0
  opacity-40;
}

.ellipse2 {
  @apply absolute 
  top-0 
  right-0
  opacity-40;
}

.ellipse3 {
  @apply absolute 
  left-0 
  bottom-0
  opacity-40;
}

.ellipse4 {
  @apply absolute 
  bottom-0 
  right-0
  opacity-40;
}

.triangle {
  @apply absolute
  bottom-0
  left-1/2
  opacity-40;
  transform: translate(-50%);
}

.triangle2 {
  @apply absolute
  top-1/2
  opacity-40;
  right: 5%;
  transform: translateY(-50%);
}

.triangle3 {
  @apply absolute
  opacity-40
  top-1/2;
  left: 5%;
  transform: translateY(-50%);
}

.triangle5,
.triangle6 {
  display: none;
}

@media only screen and (max-width: 1040px) {
  .triangle2 {
    top: 45%;
    width: 160px;
  }
  .triangle3 {
    top: 45%;
    width: 160px;
  }
}

@media only screen and (max-width: 768px) {
  .ellipse,
  .ellipse2,
  .ellipse3,
  .ellipse4 {
    display: none;
  }

  .header {
    font-size: 36px;
    margin-top: 17.5rem;
  }

  .triangle2,
  .triangle3 {
    width: 7rem;
    height: 10rem;
  }
  .triangle3 {
    left: 25px;
  }
  .triangle2 {
    right: 25px;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    font-size: 26px;
    margin-top: 17.5rem;
  }

  .triangle {
    bottom: 5%;
  }

  .triangle2,
  .triangle3 {
    display: none;
  }

  .triangle5,
  .triangle6 {
    display: block;
  }

  .triangle5 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 100px;
    opacity: 0.5;
  }
  .triangle6 {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 100px;
    opacity: 0.5;
  }
}
