:root {
    --bg-dark: #222222y;
    --bg-dark-2: #171516;
    --primary-color: #DEA745;
    --secondary-color: #F9F9F9;
    --body-text-color: #9B9B9B;

    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Nixie One', sans-serif;
    --tertiary-font: 'Raleway', sans-serif;
}